@use "sass:math";

@function calculateRem($size){
    $remSize:math.div($size,16px);
    @return #{$remSize}rem;
}

@mixin fontsize($size){
    font-size: calculateRem($size);
}

@mixin widthheight($width,$height){
    width: $width;
    height: $height;
}