
.travelForm-wrapper{
    padding: 40px 0;
    background-color: $color-semi-white;

    .form-div{
        background-color: $color-white;
        padding: 10px 30px 40px 30px;
        border-radius: 5px;
        .form-input-overall{
            &:not(:last-child){
                 margin-bottom: 30px;
            }
     
            .form-control{
                 border: solid 1px $color-darkgrey;
                 &:focus{
                     box-shadow: none;
                     
                 }
            }
     
            .form-label{
             @include fontsize(16px);
             font-family: $font-secondary;
             font-weight: $font-weight-400;
            }
         }
     
         .section-title{
             font-family: $font-secondary;
             @include fontsize(30px);
             font-weight: $font-weight-600;
             line-height: $line-height-120;
             padding: 40px 0;
             color: $color-primary;
         }
     
         .submit-button{
             background-color: transparent;
             border: solid 1px $color-secondary;
             color: $color-secondary;
             transition: all ease 0.3s;
             font-family: $font-secondary;
             font-weight: $font-weight-400;
             width: 100%;
     
             &:hover{
                 border: solid 1px $color-secondary;
                 background-color: $color-secondary;
                 color: $color-white;
             }
         }
     
         .react-datepicker-wrapper{
             width: 100%;
             border: solid 1px $color-darkgrey;
             // margin-bottom: 30px;
             border-radius: 5px;
     
             .date-class{
                 padding: 9px 0;
                 width: 100%;
     
                 &::placeholder{
                     padding-left: 12px;
                 }
             }
         }
    }

    .table-div{
        background-color: $color-white;
        padding: 10px 30px 40px 30px;
        border-radius: 5px;

        .section-title{
            font-family: $font-secondary;
            @include fontsize(30px);
            font-weight: $font-weight-600;
            line-height: $line-height-120;
            padding: 40px 0;
            color: $color-primary;
        }

        .table-section{
            thead{
                // background-color: $color-darkgrey;
                tr{
                    
                    th{
                        background-color: $color-darkgrey;
                        padding: 18px 10px;
                        text-align: center;
                        @include fontsize(17px);
                        font-family: $font-secondary;
                        font-weight: $font-weight-600;
                    }
                }
            }
    
            tbody{            
                tr{                
                    td{                    
                        text-align: center;
                        width: 20%;
                    }
    
                    .trip-detail-action{
                        .action-button{
                            color: $color-grey;
                            padding: 0 4px;
                            font-family: $font-secondary;
                            font-weight: $font-weight-400;
                            transition: all ease 0.3s;
            
                            &:hover{
                                color: $color-secondary;
                            }
                        }
    
                        .slash{
                            color: $color-grey;
                        }
                    }
                }
            }
        }
    }

}

